In [ ]:
#Types Data
#Structed Data - Little pre-processing - (Medium)
#Unstructered Data - Medium - High Processing

#Summary of Steps


1.   Acquire the data
2.   Import all the data from multiple sources
3.   Identify and handle missing / impure values
4.   Encode - NonNumerical Data (Categorical Data)
5.   Split the data (2-Sets / 3-Sets)
6.   Any Feature Scaling

## Reading the Data

In [ ]:
#1. Read csv
import pandas as pd
df = pd.read_csv('Data.csv')

In [ ]:
#tab seperated values
df = pd.read_csv('Data.tsv', sep = '\t')

In [ ]:
#UTF format - Unicode - Tranformation - format
# UTF - 8 - 8 bit
df = pd.read_csv('Data.csv', encoding = 'utf-8')

In [ ]:
#2. Read Excel
df = pd.read_excel('Data.xlsx')

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("/content/database.db")

In [ ]:
sqlite3.connect?

In [ ]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)

In [ ]:
print(tables)

        name
0  purchases

In [ ]:
df = pd.read_sql("SELECT * FROM purchases;",conn)

print(df.head())

    index  apples  oranges
0    June       3        0
1  Robert       2        3
2    Lily       0        7
3   David       1        2

In [ ]:
query = "SELECT * FROM purchases WHERE apples > 2"
df_filtered_table = pd.read_sql(query,conn)
print(df_filtered_table)

  index  apples  oranges
0  June       3        0

In [ ]:
#Open Database Connectivity
#Java Database Connectivity

In [ ]:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (2.7 kB)
Downloading pyodbc-5.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (353 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 354.0/354.0 kB 7.2 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

In [ ]:
import pyodbc

In [ ]:
conn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=server_name;"
                      "Database=database_name;"
                      "UID=username;"
                      "PWD=password;")

In [ ]:
df = pd.read_sql("SELECT * FROM purchases;",conn)

In [ ]:
!pip install JayDeBeApi JPype1

Collecting JayDeBeApi
  Using cached JayDeBeApi-1.2.3-py3-none-any.whl.metadata (10 kB)
Collecting JPype1
  Downloading jpype1-1.6.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (5.0 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from JPype1) (25.0)
Downloading JayDeBeApi-1.2.3-py3-none-any.whl (26 kB)
Downloading jpype1-1.6.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (495 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 495.9/495.9 kB 15.2 MB/s eta 0:00:00
Installing collected packages: JPype1, JayDeBeApi
Successfully installed JPype1-1.6.0 JayDeBeApi-1.2.3

In [ ]:
import jaydebeapi

jdbc_driver = "__Myjdbc_drive_.jar"

url = "jdbc:mysql://localhost:3306/mydb"
username = "root"
password = "password"

conn = jaydebeapi.connect(jdbc_driver, url, [username, password])

df = pd.read_sql("SELECT * FROM purchases;",conn)

In [ ]:
export DB_USER=""
export DB_PASSWORD=""
export DB_HOST=""
export DB_PORT=""
export DB_NAME=""


import os
db_pass = os.getenv("DB_PASSWORD")
db_user = os.getenv("DB_USER")
db_host = os.getenv("DB_HOST")
db_port = os.getenv("DB_PORT")
db_name = os.getenv("DB_NAME")

In [ ]:
with open(".env", "w") as f:
    f.write(f"DB_USER=LAXMI\n")
    f.write(f"DB_PASSWORD=Password\n")
    f.write(f"DB_HOST=localhost\n")

In [ ]:
from dotenv import load_dotenv
import os
load_dotenv()

db_user = os.getenv("DB_USER")
db_pass = os.getenv("DB_PASSWORD")
db_host = os.getenv("DB_HOST")

In [ ]:
#JSON Data
df = pd.read_json("purchases.json")

In [ ]:
df.head()

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
df = pd.read_json('{"apples":{"June":3,"Robert":2,"Lily":0,"David":1},"oranges":{"June":0,"Robert":3,"Lily":7,"David":2}}')

/tmp/ipython-input-1787012518.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json('{"apples":{"June":3,"Robert":2,"Lily":0,"David":1},"oranges":{"June":0,"Robert":3,"Lily":7,"David":2}}')

In [ ]:
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
tables = pd.read_html("https://www.w3schools.com/html/html_tables.asp")

In [ ]:
tables

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [37]:
dataset = pd.read_csv("/content/Data.csv")

In [35]:
dataset_merged = pd.merge?

In [36]:
pd.concat([dataset,dataset]) #Variable to be Predicted - Purchased - Target - Y - Prediction Variable
#Others helping us to predict Target - independent variables - X - Predictor Variables
#ANY PREPROCESSINGS you do - Predictor / X / indepent variables / input variables

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [38]:
X = dataset.iloc[:,:-1].values
y = dataset.iloc[:,-1].values

In [39]:
print(X)

[['France' 44.0 72000.0]
 ['Spain' 27.0 48000.0]
 ['Germany' 30.0 54000.0]
 ['Spain' 38.0 61000.0]
 ['Germany' 40.0 nan]
 ['France' 35.0 58000.0]
 ['Spain' nan 52000.0]
 ['France' 48.0 79000.0]
 ['Germany' 50.0 83000.0]
 ['France' 37.0 67000.0]]

In [41]:
print(y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [43]:
dataset.dropna(subset=['Purchased'],inplace=True)
dataset_X = dataset.drop(columns=['Purchased'])

In [44]:
dataset_X.isna().sum()

Country    0
Age        1
Salary     1
dtype: int64

In [ ]:
#If you have a deafaulting value if not present then it is a category

#Fixing Missing
#1. Dropna
dataset_X.dropna(inplace = True)

In [47]:
dataset_X_mean

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [48]:
#2. Fillna

#MEAN / MEDIAN / MODE imputation
#Numeric Column - MEAN / MEDIAN imputation


#1. Mean Imputation - We monitor the outliers and if no outliers
dataset_X_mean = dataset_X.copy()
dataset_X_mean['Age'] = dataset_X_mean["Age"].fillna(dataset_X_mean['Age'].mean())

print(dataset_X_mean.isna().sum())

Country    0
Age        0
Salary     1
dtype: int64

In [49]:
#2. Median Imputation - We monitor the outliers
dataset_X_mean = dataset_X.copy()
dataset_X_mean['Salary'] = dataset_X_mean["Salary"].fillna(dataset_X_mean['Salary'].median())

print(dataset_X_mean.isna().sum())

Country    0
Age        1
Salary     0
dtype: int64

In [50]:
#3. Mode Imputation - categorical
dataset_X_mean = dataset_X.copy()
dataset_X_mean['Country'] = dataset_X_mean["Country"].fillna(dataset_X_mean['Country'].mode()[0])

print(dataset_X_mean.isna().sum())

Country    0
Age        1
Salary     1
dtype: int64

In [53]:
from sklearn.impute import SimpleImputer
import numpy as np

In [54]:
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:,1:3])

X[:,1:3] = imputer.transform(X[:,1:3])

In [55]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [57]:
#Nearest Neighbors
#K-Nearest Neighbors - Interpolation
#Have a default value and use it per usecase

In [59]:
dataset_X = dataset_X.dropna()

In [60]:
pd.get_dummies(dataset_X)

    Age   Salary  Country_France  Country_Germany  Country_Spain
0  44.0  72000.0            True            False          False
1  27.0  48000.0           False            False           True
2  30.0  54000.0           False             True          False
3  38.0  61000.0           False            False           True
5  35.0  58000.0            True            False          False
7  48.0  79000.0            True            False          False
8  50.0  83000.0           False             True          False
9  37.0  67000.0            True            False          False

In [61]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [62]:
X #Issue of Data Sparsity

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 63777.77777777778],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)