In [ ]:
#Compact way of creating lists using a loop
cubes= []
emptyString = ""
for i in range(0,10):
  cubes.append(i**3)

In [ ]:
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
cubes = [i**3 for i in range(0,10)] #Only list comprehension exsists..

In [ ]:
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
cubes = (i**3 for i in range(0,10)) #There is nothing like direct tuple comprehension here..

In [ ]:
cubes = [i**3 for i in range(0,10) if i % 2 == 0]

In [ ]:
cubes

[0, 8, 64, 216, 512]

In [ ]:
names = ["sateesh","raj","Laxmi"]

word_count = {name : len(name) for name in names}

In [ ]:
word_count

{'sateesh': 7, 'raj': 3, 'Laxmi': 5}

In [ ]:
sampleDict = {"InceptezB23": 60, "InceptezB24": 40, "InceptezB25":50}

In [ ]:
#Keys -> converted int a hash value / hash function -
#O(1) - to do operations in Dictionary are - hash table used in dictionaries

In [ ]:
d = {"l":1,"p":2,"Q":3}

In [ ]:
d['J'] = 7

In [ ]:
d

{'l': 1, 'p': 2, 'Q': 3, 'J': 7}

In [ ]:
d['l'] = 10

In [ ]:
d

{'l': 10, 'p': 2, 'Q': 3, 'J': 7}

In [ ]:
del d['l']

In [ ]:
d

{'p': 2, 'Q': 3, 'J': 7}

In [ ]:
d['l']

KeyError: 'l'

In [ ]:
d.get('l') #safe lookup without any error..

In [ ]:
d.get('p') #O(1)

2

In [ ]:
A = 10
del A

In [ ]:
A

NameError: name 'A' is not defined

In [ ]:
#Find the first Non-Repeating character in a string
#Given a string find the characters that does not repeat

string_input = "Inceptez"
count = {}
for i in string_input: #n
  count[i] = count.get(i,0)+1

print(count)
for i in string_input: #n
  if count[i] == 1:
    print(i)

#O(n+n) - O(n)

{'I': 1, 'n': 1, 'c': 1, 'e': 2, 'p': 1, 't': 1, 'z': 1}
I
n
c
p
t
z

In [ ]:
#Find the first Non-Repeating character in a string
#Given a string find the first character that does not repeat

string_input = "InceptIez"
count = {}
for i in string_input: #n
  count[i] = count.get(i,0)+1

print(count)
for i in string_input: #n
  if count[i] == 1:
    print(i)
    break

#O(n+n) - O(n)

{'I': 2, 'n': 1, 'c': 1, 'e': 2, 'p': 1, 't': 1, 'z': 1}
n

In [ ]:
for i in count:
  print(i)

I
n
c
e
p
t
z

In [ ]:
string_input = "Inceptez"
for i in string_input: #O(n)
  print(string_input.count(i)) #O(n)

1
1
1
2
1
1
2
1

In [ ]:
string_input.count("e")

2

In [ ]:
count.get?

In [ ]:
Given an Array and a target sum, return indices of two numbers that add up to the target
[2,7,11,15],9 -> [0,1]